* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body  {
    background: #081b29;
    color: #ededed;
    height: auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 5vh;
    color: #ededed;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
}

.navbar a {
    font-size: 3vh;
    color: #ededed;
    font-weight: 500;
    margin-left: 3vh;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: #007278;
}

.container {
    width: 80%;
    margin: 20vh;
    overflow: hidden;
    font-size: 3vh;
    margin-top: 10vh;
}

.contact-form {
    background: transparent;
    padding: 2vh;
    margin: 2vh 0;
    border-radius: 0.8vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #007278;
}

.form-group {
    margin-bottom: 1.5vh;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #007278;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 1.5vh;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 20vh;
    resize: vertical;
}

.form-group button {
    background: transparent;
    color: #007278;
    border: solid;
    padding: 1vh 1.5vh;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 3vh;
}

.form-group button:hover {
    background: #007278;
    color: #081b29;
}

.iconos {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.iconos a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    background: transparent;
    border: 0.4vh solid #007278;
    border-radius: 50%;
    font-size: 4vh;
    color: #007278;
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.iconos a:hover {
    color: #081b29;
}

.iconos a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    overflow: hidden;
    background: #007278;
}

.iconos a:hover::before {
    width: 100%;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5vh 10%;
    background: transparent;
    display: inline-flex;
    justify-content: space-between;
    align-items: space-between;
    color: #007278;
    font-size: 300;
}
