/* Css General*/ 

*     {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body  {
    background: #081b29;
    color: #ededed;
    height: auto;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 5vh;
    color: #ededed;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav a {
    font-size: 20px;
    color: #ededed;
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
}

.nav a:hover,
.nav a.active {
    color: #007278;
}

.abrir-menu {
    color: #ededed;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.iconos {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}

.iconos a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0.4vh solid #007278;
    border-radius: 50%;
    font-size: 5vh;
    color: #007278;
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
    width: 6vh;
}

.iconos a:hover {
    color: #081b29;
}

.iconos a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    overflow: hidden;
    background: #007278;
}

.iconos a:hover::before {
    width: 100%;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5vh 10%;
    background: transparent;
    color: #007278;
    display:  inline-flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.footer p {
    font-size: 2.5vh;
    color:#007278;
    align-content: center;
}

@media (max-width: 720px) {

    .abrir-menu, 
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #025358;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        align-items: center;
        gap: 2rem;
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .iconos {
        width: 25%;
    }
}

@media (max-width: 450px) {
    .footer p {
        font-size: 12px;
    }

    .iconos {
        justify-content: space-evenly;
        width: 35%;
    }
}


/* Css Inicio */

.main-inicio {
    min-height: 100%;
    display: flex;
    padding: 0 10%;
    margin-top: 16vh;
    width: 100%;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenido-inicio {
    width: 70%;
    padding: 10px;
    background: transparent;
    margin: 30px;
    border-radius: 8vh;
    display: flex;
    flex-direction: column;
}

.contenido-inicio h1 {
    font-size: 7vh;
    font-weight: 700;
    line-height: 1.2;
}

.contenido-inicio h3 {
    font-size: 5vh;
    font-weight: 700;
    color: #007278;
}

.contenido-inicio p {
    font-size: 3.5vh;
    margin: 35px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.contenido-inicio .boton-inicio {
    width: 30%;
    height: 6vh;
}

.boton-inicio a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background: transparent;
    border: 0.4vh solid #007278;
    border-radius: 0.8vh;
    font-size: 90%;
    color: #007278;
    font-weight: 600;
    letter-spacing: 0.1vh;
    overflow: hidden;
    text-decoration: none;
    transition: .5s;
}

.boton-inicio a:hover {
    color: #081b29;
    background-color: #007278;
}

.boton-inicio a:before{
    transition: .5s;
}

.boton-inicio a:hover::before {
    width: 100%;
}

.fotoJuan {
    width: 15rem;
    border-radius: 90%;
}

@media (max-width:720px) {
    .inicio {
        flex-direction: column;
    }

    .main-inicio {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .contenido-inicio {
        width: 85%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .boton-inicio {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .fotoinicio {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fotoJuan {
        border-radius: 90%;
        margin-bottom: 30px;
        width: 10rem;
    }

}

@media (max-width:450px) {
    .contenido-inicio {
        width: 90%;
    }

    .contenido-inicio .boton-inicio {
        width: 40%;
    }
}