/* Css General*/ 

*     {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #007278;
    --text-color: #fff;
    --negrito-color: #0e0c0cfd;
}

span {
    color: var(--second-bg-color);
}

body  {
    background: var(--bg-color);
    color: var(--text-color);
    height: auto;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav a {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
}

.nav a:hover,
.nav a.active {
    color: var(--second-bg-color);
}

.abrir-menu {
    color: var(--text-color);
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.botoncito-subir {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.boton-subir {
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    border: 3px solid var(--second-bg-color);
    border-radius: 50%;
    color: var(--second-bg-color);
    transition: 0.5s ease;
}

.boton-subir:hover {
    color: var(--bg-color);
    background-color: var(--second-bg-color);
    transform: scale(1.1);
}

.iconos {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}

.iconos a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0.4vh solid var(--second-bg-color);
    border-radius: 50%;
    font-size: 5vh;
    color: var(--second-bg-color);
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
    width: 6vh;
}

.iconos a:hover {
    color: var(--bg-color);
}

.iconos a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    overflow: hidden;
    background: var(--second-bg-color);
}

.iconos a:hover::before {
    width: 100%;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5vh 10%;
    background: transparent;
    color: var(--second-bg-color);
    display:  inline-flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.footer p {
    font-size: 2.5vh;
    color:var(--second-bg-color);
    align-content: center;
}

@media (max-width: 720px) {

    .abrir-menu, 
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #025358;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        align-items: center;
        gap: 2rem;
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .iconos {
        width: 25%;
    }
}

@media (max-width: 450px) {
    .footer p {
        font-size: 12px;
    }

    .iconos {
        justify-content: space-evenly;
        width: 35%;
    }
}


/* Css Inicio */

.main-inicio {
    min-height: 100%;
    display: flex;
    padding: 0 10%;
    margin-top: 16vh;
    width: 100%;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenido-inicio {
    width: 70%;
    padding: 10px;
    background: transparent;
    margin: 30px;
    border-radius: 8vh;
    display: flex;
    flex-direction: column;
}

.contenido-inicio h1 {
    font-size: 7vh;
    font-weight: 700;
    line-height: 1.2;
}

.contenido-inicio h3 {
    font-size: 5vh;
    font-weight: 700;
    color: var(--second-bg-color);
}

.contenido-inicio p {
    font-size: 3.5vh;
    margin: 35px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.contenido-inicio .boton-inicio {
    width: 30%;
    height: 6vh;
}

.boton-inicio a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background: transparent;
    border: 0.4vh solid var(--second-bg-color);
    border-radius: 0.8vh;
    font-size: 90%;
    color: var(--second-bg-color);
    font-weight: 600;
    letter-spacing: 0.1vh;
    overflow: hidden;
    text-decoration: none;
    transition: .5s;
}

.boton-inicio a:hover {
    color: var(--bg-color);
    background-color: var(--second-bg-color);
}

.boton-inicio a:before{
    transition: .5s;
}

.boton-inicio a:hover::before {
    width: 100%;
}

.fotoJuan {
    width: 15rem;
    border-radius: 90%;
}

@media (max-width:720px) {
    .inicio {
        flex-direction: column;
    }

    .main-inicio {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .contenido-inicio {
        width: 85%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .boton-inicio {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .fotoinicio {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fotoJuan {
        border-radius: 90%;
        margin-bottom: 30px;
        width: 10rem;
    }

}

@media (max-width:450px) {
    .contenido-inicio {
        width: 90%;
    }

    .contenido-inicio .boton-inicio {
        width: 40%;
    }
}

/* Css Sobre Mi*/

.main-sobremi {
    height: auto;
    display: flex;
    padding: 0 10%;
    margin-top: 16vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-sobremi h1 {
    font-size: 7vh;
    font-weight: 700;
    line-height: 1.2;
}

.contenido-sobremi {
    width: 100%;
    padding: 20px;
    background: transparent;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.contenido-sobremi h3 {
    font-size: 5vh;
    font-weight: 700;
    color: var(--second-bg-color);
}

.contenido-sobremi a {
    text-decoration: none;
    color: var(--second-bg-color);
}

.contenido-sobremi p {
    font-size: 3.5vh;
    margin: 20px 0 40px;
    text-decoration: none;
}

.cuadrado-sobremi {
    display: flex;
    border: 3px solid var(--second-bg-color);
    background-color: var(--negrito-color);
    width: 30%;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
}

.fotobola {
    border-radius: 90%;
    width: 15rem;
    display: flex;
}

.fotobolita {
    display: flex;
}

@media (max-width:450px) {
    .fotobola {
        width: 10rem;
    }

    .contenido-sobremi {
        padding: 10px;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .cuadrado-sobremi {
        width: 70%;
    }
}

/* Css Curriculum */

.main-cv {
    height: auto;
    padding: 1rem;
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.block-experiencia {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
    margin: 30px;
}

.cuadrado-titulo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.titulo-experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-experiencia h2 {
    font-size: 30px; 
    text-align: center;
    color: var(--second-bg-color);
    margin: 10px;
}

.titulo-experiencia p {
    font-size: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 10px;
    max-width: 80%;
}

.contenido-experiencia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.cuadrado-experiencia {
    background-color: var(--negrito-color);
    border: 3px solid var(--second-bg-color);
    display: flex;
    width: 40%;
    justify-content: center;
    border-radius: 20px;
}

.cuadrado-experiencia:hover {
    box-shadow: 0 0 20px var(--second-bg-color);
}

.experiencia {
    text-align: center;
    margin: 40px;
}

.experiencia h3 {
    color: var(--second-bg-color);
    font-size: 25px;
}

.experiencia p {
    margin: 20px;
    font-size: 18px;
}

.experiencia img {
    width: 15rem;
    border-radius: 90%;
}

.block-educacion {
    width: 90%;
    margin: 30px;
}

.block-educacion h2{
    font-size: 30px; 
    text-align: center;
    color: var(--second-bg-color);
    margin-bottom: 20px;
}

.contenido-educacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cuadrado-educacion {
    background-color: var(--negrito-color);
    width: 30%;
    border-radius: 20px;
    margin: 20px;
    border: 3px solid var(--second-bg-color);
}

.cuadrado-educacion:hover {
    box-shadow: 0 0 20px var(--second-bg-color);
}

.educacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.educacion h3 {
    font-size: 18px; 
    color: var(--second-bg-color);
    margin: 20px;
}

.educacion p {
    margin: 10px;
}

.educacion img {
    width: 6rem;
    margin: 20px;
}

.block-skills {
    width: 80%;
    margin: 30px;
}

.block-skills h2{
    font-size: 30px; 
    text-align: center;
    color: var(--second-bg-color);
    margin-bottom: 20px;
}

.contenido-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 20px;
}

.cuadrado-skill {
    border: 3px solid var(--second-bg-color);
    background-color: var(--negrito-color);
    width: 30%;
    border-radius: 20px;
    transition: 0.5s ease;
}

.cuadrado-skill:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px var(--second-bg-color);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.skill h3 {
    color: var(--second-bg-color);
    font-size: 20px;
    margin: 10px;
}

.skill img {
    width: 6rem;
    height: 6rem;
    margin: 10px;
}

.botoncito {
    display: flex;
    justify-content: center;
}

.boton-cv {
    width: 40%;
    align-items: center;
    justify-items: center;
}

.boton-cv a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh ;
    background: transparent;
    border: 0.4vh solid var(--second-bg-color);
    border-radius: 0.8vh;
    font-size: 3vh;
    color: var(--second-bg-color);
    font-weight: 600;
    letter-spacing: 0.1vh;
    overflow: hidden;
    text-decoration: none;
    transition: .5s;
    align-content: center;
}

.boton-cv a:hover {
    color: var(--bg-color);
    background-color: var(--second-bg-color);
    box-shadow: 0 0 20px var(--second-bg-color);
}

.boton-cv a:before {
    transition: .5s;
}

.boton-cv a:hover::before {
    width: 100%;
}


@media (max-width:720px) {
    .titulo-experiencia h2 {
        font-size: 25px;
    }

    .titulo-experiencia p {
        font-size: 18px;
    }
    .contenido-experiencia {
        margin: 10px;
    }

    .cuadrado-experiencia {
        width: 45%;
    }

    .experiencia {
        margin: 20px;
    }

    .experiencia p {
        font-size: 15px;
    }

    .experiencia img {
        width: 10rem;
    }

    .cuadrado-educacion {
        width: 45%;
    }

    .educacion {
        margin: 10px;
    }

    .cuadrado-skill {
        width: 40%;
    }

}

@media (max-width:450px) {
    .titulo-experiencia h2 {
        font-size: 20px;
    }

    .titulo-experiencia p {
        font-size: 17px;
        letter-spacing: 0.1px;
    }
    .contenido-experiencia {
        margin: 15px;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .cuadrado-experiencia {
        width: 70%;
    }

    .experiencia {
        margin: 20px;
    }

    .experiencia p {
        font-size: 15px;
    }

    .experiencia img {
        width: 10rem;
    }

    .boton-cv {
        width: 60%;
    }

    .contenido-educacion {
        flex-wrap: wrap;
    }

    .cuadrado-educacion {
        width: 60%;
    }

    .cuadrado-skill {
        width: 50%;
    }

}

/* Css Portafolio */ 

.main-portafolio {
    height: auto;
    padding: 1rem;
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.block-titulo {
    text-align: center;
    width: 80%;
    margin: 30px;
}

.block-titulo h1 {
    font-size: 30px;
    color: var(--second-bg-color);
    margin: 10px;
}

.block-titulo p {
    font-size: 20px;
    letter-spacing: 0.1px; 
    gap: 0.5rem;
}

.block-proyecto {
    text-align: center;
    margin: 30px;
}

.block-proyecto h2 {
    color: var(--second-bg-color);
    font-size: 30px;
    margin: 20px;
}

.contenido-proyecto {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cuadrado-proyecto {
    width: 40%;
    background-color: var(--negrito-color);
    border: 3px solid var(--second-bg-color);
    margin: 15px;
    border-radius: 20px;
}

.cuadrado-proyecto:hover {
    box-shadow: 0 0 20px var(--second-bg-color);
}

.proyecto {
    margin: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.proyecto p {
    margin: 10px;
}

.proyecto img {
    margin: 10px;
    width: 10rem;
    height: 12rem;
    transition: 0.5s ease;
}

.proyecto img:hover {
    transform: scale(1.2);
}

@media (max-width:720px) {
    .cuadrado-proyecto {
        width: 70%;
    }
}

@media (max-width:450px) {
   
    .block-titulo h1 {
        font-size: 25px;
    }

    .block-titulo p {
        font-size: 18px;
        margin: 10px;
    }
   
    .cuadrado-proyecto {
        width: 80%;
    }

    .proyecto h2 {
        font-size: 20px;
    }

    .proyecto img {
        width: 7rem;
        height: auto;
    }
} 

/* Css Contacto*/ 

.main-contacto {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto {
    width: 40%;
    background: var(--negrito-color);
    border:  4px solid var(--second-bg-color);
    padding: 2vh;
    margin: 2vh 0;
    border-radius: 0.8vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacto h2 {
    text-align: center;
    color: var(--second-bg-color);
}

.form-group {
    margin-bottom: 1.5vh;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--second-bg-color);
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 1.5vh;
    border: 2px solid var(--second-bg-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--text-color);
    background: transparent;
}

.form-group textarea {
    height: 20vh;
    resize: vertical;
}

.form-group button {
    background: transparent;
    color: var(--second-bg-color);
    border: solid;
    padding: 1vh 1.5vh;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 3vh;
}

.form-group button:hover {
    background: #007278;
    color: #081b29;
}


